#ieo-listing-screen {
	margin-bottom: 1rem;
	margin-top: 1rem;
	padding-bottom: 42px;

	.loading {
		color: #ffff;
		display: flex;
		height: 300px;
		width: 100%;

		.spinner-border {
			margin: auto;
		}
	}
}
