.pg-vote__cpn__countdown {
	margin-bottom: 1em;
	padding: 0.9em 1.8em;

	&__last-win {
		&__winner {
			font-weight: 600;
		}
	}

	&__done,
	&__time-remaining,
	&__last-win {
		font-size: 2em;
	}

	&__wrapper {
		min-width: 30vw;
		padding: 0.9em 1.8em;
		background: #313445;
	}
}
