.pg-vote__cpn__countdown {
	margin-bottom: 1em;
	padding: 0.9em 0;

	&__last-win {
		&__winner {
			font-weight: 600;
		}
	}

	&__last-win,
	&__count {
		background: #313445;
		flex: 1;
		font-size: 1.5em;
		margin: 0 1em;
		padding: 0.9em 1.8em;
	}
}
