#ieo-detail-screen {
	padding-right: 80px;
	padding-left: 80px;
	margin-bottom: 80px;
	.ieo-title {
		font-size: 35px;
		color: #ffffff;
	}
	#ioe-detail-screen__return-list {
		color: #ffffff;
		font-size: 16px;
		width: 200px;
		height: 45px;
		background: rgba(132, 142, 156, 0.35);
		border: 1px solid #a3a3a3;
		box-sizing: border-box;
		border-radius: 5px;
		margin-bottom: 55px;
		margin-top: 45px;
	}
}
