#mobile-withdraw-confirm-modal {
	color: #fff;

	.close-btn,
	.withdraw-btn {
		background-color: transparent;
		border: none;
		border-radius: 3px;
		height: 2rem;
		outline: none;
		width: 6rem;
	}

	.close-btn {
		border: 0.5px solid #848e9c;
		margin-right: 0.5rem;
	}

	.withdraw-btn {
		background-color: #2fb67e;
		margin-left: 0.5rem;
	}

	.confirm-content {
		text-align: center;

		code {
			color: #2fb67e;
			font-size: 14px;
			font-weight: 700;
		}
	}
}
