.td-mobile-cpn-all-market {
	&__body {
		background-color: var(--mobile-body-background-color);
		border-radius: var(--mobile-border-radius-small-size);
		box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.15);
		margin: var(--mobile-main-margin-size);
		padding: 1em 0.625em;
		padding-bottom: 0.3125em;
		position: relative;

		.td-tabs {
			&-ink-bar {
				background-color: #2fb67e;
				bottom: 0;
				box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.15);
				height: 2px;
				left: unset;
			}

			&-nav {
				align-items: center;
				border-bottom: 1px solid #848e9c;
				box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.15);

				&-more {
					display: none;
				}

				&-wrap {
					&::before,
					&::after {
						content: unset;
					}
				}

				&-list {
					&::-webkit-scrollbar {
						display: none;
					}

					.td-tabs-tab {
						margin-right: 1em;

						.td-tabs-tab-btn {
							color: #848e9c;
							font-size: 0.875em;
							padding: 0.7em 0.5em;
						}
					}

					.td-tabs-tab-active {
						.td-tabs-tab-btn {
							color: #fff;
							font-weight: 400;
						}
					}
				}
			}
		}

		&__info {
			padding-top: 0.625em;

			&__item {
				color: #848e9c;
				font-size: 0.75em;
				font-weight: 400;
				line-height: 0.875em;
				position: relative;

				&__icon {
					color: #848e9c;
					font-size: 0.75em;
					padding-right: 0.84em;

					&--active-up {
						svg {
							&:first-child {
								color: #fff !important;
							}
						}
					}

					&--active-down {
						svg {
							&:last-child {
								color: #fff !important;
							}
						}
					}

					&:first-child {
						padding-right: 0;
					}

					&:last-child {
						padding-right: 0;
					}

					svg {
						&:last-child {
							transform: translateY(-100%);
						}
					}
				}
			}
		}

		&__markets {
			&__desc {
				color: white;
				font-size: 0.875em;
				font-weight: 500;
				line-height: 1.14em;
				padding-bottom: 0.36em;
				padding-top: 0.36em;
			}

			&__item {
				border-bottom: 1px solid #848e9c8c;
				font-weight: 500;
				height: 3.125em;
				line-height: 1em;

				&__pairs {
					width: 6.875em;

					&__first {
						color: white;
						font-size: 0.875em;
						font-weight: 500;
						line-height: 1.17em;
					}

					&__second {
						font-size: 0.625em;
						font-weight: 400;
						line-height: 1.17em;
					}

					&__vol {
						font-size: 0.75em;
					}

					&__margin {
						background-color: #ff6400;
						border-radius: 1px;
						color: white;
						font-size: 0.4375em;
						font-weight: 400;
						line-height: 0.5em;
						margin-left: 0.3125em;
						padding: 0.0625em 0.125em;
					}
				}

				&__price {
					width: 5.625em;

					&__volume {
						color: white;
						font-size: 0.875em;
						font-weight: 700;
						line-height: 1.17em;
					}

					&__volume-last {
						font-size: 0.75em;
					}
				}

				&__btn {
					button {
						background-color: #2fb67e !important;
						color: white;
						font-size: 0.875em !important;
						font-weight: 500;
						line-height: 1.17em;
						width: 5em;
					}

					&--false {
						button {
							background-color: #e84946 !important;
						}
					}
				}
			}
		}
	}
}
