.cr-mobile-slide {
	height: 54vw;
	max-height: 440px;
	width: 110vw;

	&__placeholder {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
	}

	.slick-slider {
		height: 100%;

		.slick-list {
			height: 100%;

			& * {
				height: 100%;
			}

			.slick-track {
				.slick-slide {
					img {
						object-fit: cover;
						width: 100%;
					}
				}
			}
		}

		ul.slick-dots {
			bottom: 15px;
			position: absolute;
		}
	}
}
