.wallet-toggle {
	align-items: center;
	display: flex;
	font-size: 14px;
	gap: 5px;

	&__checkbox {
		background: #fff;
		border-radius: 999px;
		height: calc(1em + 3px);
		margin: 0;
		padding: 1.5px;
		width: calc(2em + 3px);

		&__input {
			display: none;
		}

		&__dot {
			background-color: #2d2e3e;
			border-radius: 999px;
			height: 1em;
			transition: 0.3s ease-in-out;
			width: 1em;
		}

		&__input:checked + &__dot {
			transform: translateX(1em);
		}
	}
}
