.td-pg-profile__activity {
	&-result-succeed {
		color: var(--system-green);
	}

	&-result-failed {
		color: var(--system-red);
	}

	&__item {
		color: #848e9c;
		padding-bottom: 16px;
		padding-top: 16px;

		&:not(:last-child) {
			border-bottom: solid 1px #848e9c;
		}

		span {
			align-items: center;
			display: inline-flex;
		}

		&__field--highlight {
			color: #fff;
			font-size: 14px;
		}
	}
}
