#competition-detail-screen {
	margin-bottom: 1rem;
	padding: 20px 10%;

	.competition-loading {
		position: absolute;
		top: 48%;
		z-index: 1;
	}

	.competition-background-loading {
		cursor: not-allowed;
		opacity: 0.35;
	}
}
