#competition-detail-screen {
	margin-bottom: 1rem;
	padding: 20px 10%;
	.competition-loading {
		position: absolute;
		top: 48%;
		z-index: 1;
	}
	.competition-background-loading {
		opacity: 0.35;
		cursor: not-allowed;
	}
}
