#ranking-competition {
	padding: 58px 0px;
	.ranking-competition__winner {
		&__uid {
			color: #2fb67e;
			font-weight: 500;
			font-size: 36px;
			line-height: 42px;
			padding-top: 8px;
		}
	}
	.ranking-competition__listing {
		&__title {
			position: relative;
			&__limit {
				position: absolute;
				bottom: 0;
				font-size: 24px;
				line-height: 28px;
				color: #fff;
				left: 70px;
			}
		}
		&__content {
			margin-top: 31px;
		}
	}
}
