.home-market__trading-btn {
	width: 8rem;
	height: 32px;
	background: none;
	border: 1px solid #363B4B;
	box-sizing: border-box;
	border-radius: 5px;
	box-sizing: border-box;
	color: ##C4C4C4;
	outline: none;
	float: right;

	&:hover {
		background: #26283A;
		transition: .4s;
	}
}
