.home-market__trading-btn {
	background: none;
	border: 1px solid #363b4b;
	border-radius: 5px;
	box-sizing: border-box;
	box-sizing: border-box;
	color: ##c4c4c4;
	float: right;
	height: 32px;
	outline: none;
	width: 8rem;

	&:hover {
		background: #26283a;
		transition: 0.4s;
	}
}
