.ant-modal-body {
	background-color: var(--body-background-color);
	color: #737f92;
}

.cr-withdraw__deep {
	margin-top: calc(var(--gap) * 1.5) !important;
}

.withdrawNote {
	background-color: #28334e;
	display: flex;
	justify-content: flex-start;
	margin-top: 3em;

	&__right {
		background-color: inherit;
		color: #f4ecf7;
		flex-direction: column !important;
		font-size: 14px;
		justify-content: flex-start !important;
		line-height: 15px;
		padding: 10px 5px 0 5px;
	}
}
