.td-referral-content {
	&__wrapper {
		background: #313445;
		padding: 15px;
	}

	&__table {
		padding: 80px 0 100px 0;

		&__row {
			&__col-left {
				h4 {
					background: #313445;
					color: #fff;
					font-size: 18px;
					line-height: 27px;
					margin-bottom: 0;
					padding: 12px;
				}
			}

			&__col-right {
				h4 {
					background: #313445;
					color: #fff;
					font-size: 18px;
					line-height: 27px;
					margin-bottom: 0;
					padding: 12px;
				}
			}
		}
	}
}
