.market-hot-on-List {
	width: 100%;
	display: flex;
	justify-content: space-between;

	.container {
		div {
			div {

				.market-chart {
					min-height: 100px;
					padding: 10px 0;
					border-radius: 4px;
					background-color: var(--tab-panel-background-color);
					
					&:hover {
						cursor: pointer;
						box-shadow: #7d82b8 0px 0px 10px 0px;
					}
				}
			}
		}
	}
}
