#table-award-competition {
	table {
		border-radius: 5px;
		box-shadow: 0 70px 100px rgba(0, 0, 0, 0.08);
		color: #fff;

		thead {
			background: #4e5363;
			border-radius: 3px 3px 0 0;
			font-size: 18px;

			tr {
				th {
					font-weight: normal;
				}
			}
		}

		tbody {
			background: #313445;
			box-shadow: 0 70px 100px rgba(0, 0, 0, 0.08);

			tr {
				font-size: 15px;
			}
		}
	}
}
