#stake-list-pagination {
	width: 100%;

	.pagination {
		display: inline-block;
		padding-left: 15px;
		padding-right: 15px;
	}

	.pagination li {
		background-color: #434a57;
		border: none;
		border-radius: 5px;
		color: #fff !important;
		cursor: pointer;
		display: inline-block;
		font-size: 1.2rem;
		margin: 0 5px;
		outline: none;
		padding: 1rem 2rem;
	}

	.active {
		background-color: rgb(128, 147, 196) !important;
	}
}
