.body-announcement {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	.container {
		max-width: 1170px;
		width: 100%;

		.left_article {
			.article-Box {
				background-color: rgb(49, 52, 69);
				height: 100%;
			}
		}

		.right_article {
			min-height: 380px;

			.article-Box {
				background-color: rgb(49, 52, 69);
				height: 100%;
			}
		}
	}
}
