.wallet-header__search-box {
	align-items: center;
	background: rgba(196, 196, 196, 0.28);
	border: 0.5px solid #848e9c;
	border-radius: 3px;
	color: #c4c4c4;
	display: flex;
	height: 30px;
	max-width: 40%;

	&__icon {
		width: 30px;
	}

	&__input {
		background-color: transparent;
		border: none;
		font-size: 12px;
		outline: none;
		width: calc(100% - 30px);
	}
}
