/*  ==================================
*   Table of Contents
*   ==================================
* 1. General area
*/
:root {
	--mobile-main-background-color: #2e2e3d;
	--mobile-body-background-color: #313445;
}
