/*  ==================================
*   Table of Contents
*   ==================================
* 1. General area
*/
:root {
	--mobile-main-margin-size: 0.875em;
	--mobile-main-padding-size: var(--mobile-main-margin-size);
	--mobile-main-margin-lr-size: 0 var(--mobile-main-margin-size);
	--mobile-main-padding-lr-size: 0 var(--mobile-main-padding-size);
	--mobile-border-radius-small-size: 3px;
	--mobile-border-radius-large-size: calc(var(--mobile-border-radius-small-size) * 2);
}
