.desktop-stake-rank {
	background-color: #313445;
	border-radius: 10px;
	box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.15);
	padding: 1rem 2.7rem;

	&__countdown {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: space-between;
		width: 100%;

		&__item {
			background: rgba(255, 255, 255, 0.1);
			background-color: #333;
			border-radius: 3px;
			color: #fff;
			font-size: 2em;
			min-width: 22.5%;
			padding: 1rem;

			&__sub {
				font-size: 1rem;
			}
		}
	}
}
