#deposit-info {
    .deposit-button {
      background-color: transparent;
      border: none;
      border-bottom: 4px solid #2fb67e;
      color: #fff;
      cursor: pointer;
      font-size: 2rem;
      outline: none;
      padding: 0.5rem 0;
    }

    .withdraw-button {
      background-color: transparent;
      border: none;
      color: #fff;
      cursor: pointer;
      font-size: 2rem;
      margin-left: 1rem;
      outline: none;
      padding: 0.5rem 0;
    }
}
